SUPABASE_URL=https://bvyqqnlrwehuugbjznug.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SPREADSHEET_ID=
STUDENT_NAME=Bogdans_Avanesovs
TELEGRAM_BOT_USERNAME=BogdansFriendsIncludedBot
GITHUB_REPOSITORY_URL=https://github.com/bogdansavanesovs78/friends-included-assignment-4
